#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define NAV 3
#define ADJ 4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
		&kp TAB   	   &kp Q       &kp W    &kp E   &kp R    &kp T         		   		   &kp Y    	 &kp U    &kp I     &kp O    &kp P          &kp BSLH
 		&kp BSPC  	   &kp A 	   &kp S    &kp D   &kp F    &kp G             	           &kp H         &kp J    &kp K     &kp L    &lt NAV SEMI   &kp SQT
		&mt LSHFT LPAR &mt LCTRL Z &kp X    &kp C   &kp V    &kp B                         &kp N         &kp M    &kp COMMA &kp DOT  &mt RCTRL FSLH &mt RSHFT RPAR
	               			  	   &kp LALT &kp ESC &kp LGUI &lt LWR RET &kp SPACE &kp RET &lt RSE SPACE &kp RGUI &kp ESC   &kp RALT 
                        >;
                };
                lower_layer {
                        bindings = <
		&kp ESC   &none      &none &none     &none &none        		  &none    &none   &kp UNDER &none &none &none
		&kp DEL   &kp AT     &none &none     &none &kp DLLR      		  &kp HASH &none   &none     &none &none &none
		&kp LBKT  &kp K_UNDO &none &kp CARET &none &kp EXCL               &none    &none   &none     &none &none &kp RBKT
							&none &none     &none &mo ADJ   &trans &trans &none   &none &none     &none
                        >;
                };
                raise_layer {
                        bindings = <
		&kp TILDE &none    &none &none &none &none        		  &kp KP_MINUS &kp N7   &kp N8 &kp N9  &none     &none
		&kp BSPC  &kp AMPS &none &none &none &none      		  &kp ASTRK    &kp N4   &kp N5 &kp N6  &kp EQUAL &none
		&kp LBRC  &none    &none &none &none &none                &kp PLUS     &kp N1   &kp N2 &kp N3  &none     &kp RBRC
						   &none &none &none &trans &trans &trans &trans       &mo ADJ  &kp N0 &kp DOT          
                        >;
                };
                navigation_layer {
                        bindings = <
		&none &none &none &none &none &none        		&none &kp HOME &kp UP   &kp END   &none &none
		&none &none &none &none &none &none      		&none &kp LEFT &kp DOWN &kp RIGHT &none &none
		&none &none &none &none &none &none             &none &none    &none    &none     &none &none
					&none &none &none &none &none &none &none &none    &none    &none        
                        >;
                };
                adjust_layer {
                        bindings = <
		&none &none &none &none &none &none        		&none &none &none &none &none &none
		&none &none &none &none &none &none      		&none &none &none &none &none &none
		&none &none &none &none &none &none             &none &none &none &none &none &none
					&none &none &none &none &none &none &none &none &none &none        
                        >;
                };
        };
};